<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand fs-4 fst-italic" href="#">Kitchen Wizard</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="emitRoute('recipes')"
            href="#"
            aria-current="page"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="emitRoute('shopping')" href="#"
            >Shopping List</a
          >
        </li>
      </ul>
      <!-- <span class="navbar-nav mt-2 mt-lg-0" dropdown>
        <a
          href
          dropdownToggle
          type="button"
          aria-controls="app-options"
          class="nav-link dropdown-toggle"
          href="#"
          id="btn-app-options"
          >Manage</a
        >

        <ul
          class="dropdown-basic"
          *dropdownMenu
          id="app-options"
          aria-labelledby="btn-app-options"
          role="menu"
        >
          <li role="menuitem">
            <a class="dropdown-item" href="#">Save Data</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Fetch Data</a>
          </li>
        </ul>
      </span> -->

      <div dropdown placement="bottom-right" class="position-relative">
        <a
          type="button"
          id="optionsBtn"
          dropdownToggle
          class="nav-link text-light dropdown-toggle"
          (click)="(false)"
          aria-controls="basic-link-dropdown"
          >Manage</a
        >
        <ul
          id="basic-link-dropdown"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="optionsBtn"
        >
          <a class="dropdown-item" href="#">Save Data</a>
          <a class="dropdown-item" href="#">Load Data</a>
        </ul>
      </div>
    </div>
  </div>
</nav>
