<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="recipe-name-input" class="form-label">Recipe Name</label>
    <input
      type="text"
      class="form-control"
      name="recipe-name-input"
      id="recipe-name-input"
      aria-describedby="recipe-name-help"
      formControlName="name"
      [ngClass]="validate('name')"
    />
    <small id="recipe-name-help" class="form-text text-muted"
      >choose a name for your recipe</small
    >
  </div>
  <div class="mb-3">
    <label for="recipe-description-input" class="form-label"
      >Recipe Description</label
    >
    <textarea
      class="form-control"
      name="recipe-description-input"
      id="recipe-description-input"
      rows="4"
      formControlName="description"
      [ngClass]="validate('description')"
    ></textarea>
  </div>
  <div class="mb-3">
    <ul class="list-group" formGroupName="ingredients">
      <li
        class="input-group list-group-item d-flex"
        *ngFor="let ingredient of ingredientsFormArray.controls; let i = index"
        [formGroupName]="i"
      >
        <input
          type="text"
          class="form-control w-50"
          aria-describedby="helpId"
          placeholder="ingredient"
          formControlName="ingName"
          [ngClass]="validate('ingredients.' + i + '.ingName')"
        />
        <input
          placeholder="amount"
          type="number"
          class="form-control"
          type="number"
          formControlName="ingAmount"
          [ngClass]="validate('ingredients.' + i + '.ingAmount')"
        />
        <input
          name="deleteBtn"
          id="deleteBtn"
          class="btn btn-outline-danger"
          type="button"
          (click)="onDeleteIngredient(i)"
          value="X"
        />
      </li>

      <input
        name="add-new-ingredient-button"
        id="add-new-ingredient-button"
        class="btn btn-primary"
        type="button"
        style="border-top-left-radius: 0; border-top-right-radius: 0"
        value="Add Ingredient"
        (click)="onAddIngredient()"
      />
    </ul>
  </div>
  <div class="mb-3">
    <div class="mb-3">
      <label for="image-input" class="form-label">image url</label>
      <input
        type="text"
        class="form-control"
        name="image-input"
        id="image-input"
        placeholder="https://example.com/image"
        formControlName="imageURL"
        [ngClass]="validate('imageURL')"
      />
    </div>
  </div>
  <div class="d-grid">
    <button
      [disabled]="!recipeForm.valid"
      type="submit"
      class="btn btn-primary btn-lg"
    >
      {{ editMode ? "Save" : "Create" }}
    </button>
  </div>
</form>
